@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


$background: #101216;
// $background: #0d1117;
$text: #fcfcfc;
$secondary: skyblue;
$tertiary: salmon;

$font-stack: "Roboto", sans-serif;

$transition-params: all 0.1s ease-in-out;


* {
  transition: $transition-params;
}

html {

  height: 100%;
  background: $background;
  color: $text;
  font-family: $font-stack;
  font-weight: 300;
}

body {

  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  
  text-align: center;
  
  h1 {

    margin: 0;
    text-transform: uppercase;
    // font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
}

main {

  // border: 1px solid;
  width: 100%;
  max-width: 300px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .player-name {

    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.1em;
    opacity: 0.5;
    margin: 0;
  }

  .score {

    text-align: center;
    font-weight: 700;
    font-size: 3em;
    margin: 0 0;

    &#computer {
      color: $tertiary;
    }

    &#player {
      color: $secondary;
    }
  }

  .message {

    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    &#state {
      font-size: 2em;
      font-weight: 900;
      opacity: 0.5;
    }

    &#message {
      font-size: 1.5em;
    }
  }

  #buttons {

    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    button {
      
      cursor: pointer;
      font-family: $font-stack;
      line-height: 1;
      border: none;
      box-shadow: none;
      padding: 0.5rem 0;
      margin: 0 0.3rem;
      min-width: 5.5rem;

      border-radius: 20px;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 700;

      &:active {
        background: $tertiary;
      }
    }
  }
}

footer {

  text-align: center;

  p {
    opacity: 0.5;
  }

  a {

    color: $text;
    text-decoration: none;
    border-bottom: 1px solid;

    &:focus,
    &:active {

      color: $secondary;
      border-color: transparent;
    }
  }
}

@media (hover: hover) and (pointer: fine) {

  main {

    #buttons {

      button {

        &:hover {
          background: $secondary;
        }
      }
    }
  }

  footer {

    a {

      &:hover {

        color: $secondary;
        border-color: transparent;
      }
    }
  }
}